/*CSS RESET BY LAZZER00*/
*, *::before, *::after{
    box-sizing: border-box; 
}

*{
    margin: 0; 
    padding: 0; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul, ol{
    list-style-type: none; 
}

html:focus-within{
    scroll-behavior: smooth; 
}

a:not([class]){
    text-decoration-skip-ink: auto; 
}

img, picture, svg, video, canvas{
    max-width: 100%;
    height: auto; 
    vertical-align: middle; 
    font-style: italic; 
    background-repeat: no-repeat; 
    background-size: cover;
}

input, button, textarea, select{
    font: inherit; 
}

@media (prefers-reduced-motion: reduce){
    html:focus-within {
        scroll-behavior: auto;
    }
    *, *::before, *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition: none;
    }
}

body, html{
    scroll-behavior: smooth;
}

/*ACTUAL CONTENT STARTS HERE*/

:root{
    --main-color:#907AD6;
    --secondary-color:#4F518C;
    --tertiary-color:#2C2A4A;
    --accent-color:white;
    --body-background-color:#FAC8FD;
}

body{
    width: 100%;
    height: 100%; 
    padding: 30px;
    background:var(--body-background-color);
}

.whole-container {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 2fr 8fr;
    background: var(--main-color);
}

/*sidebar section*/
.sidebar-container {
    grid-column: 1/2;
    grid-row: 1 / 3;
    background: var(--tertiary-color);
    color: var(--accent-color);

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 30px;
    padding-top: 50px;
}
.main-sidebar{
    grid-row:2/3;
}

.sidebar-title-text{
    font-size: 35px;
    font-weight: bold;
}

.sidebar-title{
    display: flex;
    align-items: top;
    margin-bottom: 60px;
    margin-top: 0;
}

.sidebar-title-icon{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: cover;
    margin-right: 30px;
    background-image: url(images/dashboard.svg);
}

.sidebar-element{
    display: flex;
    align-items: top;
    margin-top: 10px;
}

.sidebar-icon{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-size: cover;
    margin-right: 30px;
}

.sidebar-text{
    font-size: 25px;
    font-weight:500;
}
.sub-sidebar{
    grid-row: 3/4;
}
/*icons*/

.sidebar-icon[data-icon="home-icon"]{
    background-image: url(images/home.svg);

}
.sidebar-icon[data-icon="profile-icon"]{
    background-image: url(images/profile.svg);

}
.sidebar-icon[data-icon="message-icon"]{
    background-image: url(images/message.svg);

}
.sidebar-icon[data-icon="history-icon"]{
    background-image: url(images/history.svg);

}
.sidebar-icon[data-icon="task-icon"]{
    background-image: url(images/tasks.svg);
}
.sidebar-icon[data-icon="community-icon"]{
    background-image: url(images/communities.svg);

}
.sidebar-icon[data-icon="settings-icon"]{
    background-image: url(images/settings.svg);

}
.sidebar-icon[data-icon="support-icon"]{
    background-image: url(images/support.svg);
}
.sidebar-icon[data-icon="privacy-icon"]{
    background-image: url(images/privacy.svg);

}
/*-------------------------------------------------------*/


.header-container {
    width: 100%;
    grid-column: 2 / 3;
    padding: 10px 20px;
    background-color: var(--secondary-color);

    display:grid;
    grid-template-columns: 4fr 3fr;
    grid-template-rows: 1fr 1fr;
}


.search-container{
    grid-column: 1/2;
    grid-row:1/2;
    display: flex;
    align-items: center;
    padding: 10px;
    gap:20px;
}

#search-bar{
    width:700px;
    height: 50px;
    border-radius: 15px;
    border:solid black 1px;
}

.user-container{
    grid-column: 2/3;
    display: flex;
    gap:20px;
    align-items: center;
}
.user-name, .profile-name{
    font-size: 25px;
    color: var(--accent-color);
    font-weight: 500;
}

.profile-container{
    display: flex;
    align-items: center;
    padding: 10px;
    gap:10px;
}

.greetings{
    font-size: 20px;
    color: var(--accent-color);
    font-weight: 500;
}

.buttons-container{
    display: flex;
    align-items: center;
    gap:20px;
}

.header-buttons{
    background-color: var(--body-background-color);
    color:black;
    border:solid 1px;
    border-radius: 10px;
    padding:10px 60px;
}


.header-icon{
    display: inline-block;
    width: 35px;
    height: 35px;
    background-size: cover;
}

.user-icon{
    display: inline-block;
    width: 70px;
    height: 70px;
    background-size: cover;
    background-image: url(images/user1.svg);
}

.header-icon[data-icon="search-icon"]{
    background-image: url(images/search.svg);
}
.header-icon[data-icon="notif-icon"]{
    background-image: url(images/notification.svg);
}


/*---------------------------------------------------*/

.content-container {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 6fr 2fr;
    grid-template-rows: 1fr 4fr 1fr 4fr;
    padding:20px;
}

.project-text{
    grid-area: 1/1/2/2;
}
.projects-container {
    grid-area:2/1/4/2;
    display: grid;
    grid-template-columns: 200px 200px; /* Adjusted the syntax */
    grid-template-rows: repeat(3, 2fr);
    grid-gap: 20px;
}

.project {
    width: 200px;
    height: 100px;
    background: wheat;
}

.assignment-container{
    grid-column: 2/3;
    grid-row: 1/2;
}

.trending-container{
    grid-column: 2/3;
    grid-row: 2/3
}